#settings {
  position: absolute;
  top: 10dvw;
  left: 0dvw;
}

.settings {
  background: white;
  font-size: 4dvw;
  width: 90dvw;
  height: 120dvw;
  z-index: 99999;
  padding: 2dvw;
  border: 2px solid black;
}
  
#settings input {
  font-size: 4dvw;
  width: 80dvw;
  margin: 0dvw 0dvw 2dvw 0dvw;
}

#background_color {
  position: absolute;
}

#reset_storage {
  position:absolute;
  left: 1dvw;
  top: 1dvw
}

#done {
  position: absolute;
  left: 44dvw;
  top: 1dvw;
}

/* TODO: COPY-PASTEd, so find a way to share. */
.button {
  text-align: center;
  font-size: 4dvw;
  width: 40dvw;
  height:  6dvw;
  border-radius: 3dvw;
  border:  2px solid black;
  margin: 3px;
}
