@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500..700&display=swap');

:root {
  --radius: 9dvw;
  --grid-millis: 210;
  --grid-step: calc(var(
  --grid-millis) * 0.01 * var(--radius));
  --start-row: 0;
}


html {
/*  height: 100dvh;*/
  overscroll-behavior: contain;
}

body {
/*    font-size:12dvw;*/
    overscroll-behavior: contain;
  }
  
  .fullscreen {
    display: block;
    height: 50dvh;
    margin: 0;
    padding: 0;
    width: 100dvw;
  }
  
  input {
    font-size: 6dvw;
  }
  
  .currency_key {
    opacity: 0.0;
  }

  .currency_box {
    display: flex;
    margin: auto;
    width: 50%;
  }
  
  .currency_text {
    height: 16px;
    width: 38px;
    font-size: medium;
  }

  #static_header {
    position: fixed;
    z-index: 999;
    bottom: 2dvw;
    left: 2dvw;
  }

  .static_header {
    display: flex;
    background-color: #ffc0cbdb;
    /* padding: 10px; */
    width: calc(100dvw - (4dvw + 2*3px));
    height: 101dvw;
    border-style: solid;
    border-width: 3px;
    border-color: white;
    /* margin: 5px; */
    border-top-color: transparent;
  }
  
  .top_only {
    border-bottom-color: transparent;
    border-top-color: white;
    height: 3dvw;
    top: -3dvw;
    left: calc(0dvw - 3px);
    border-bottom-width: 0px;
    border-top-color: white;
    position: absolute;
    z-index: 9;
  }

  #source {
    position: absolute;
    bottom: 77dvw;
    left: 2.5dvw;
    transform: scale3d(2.0 2.0 1.0);
  }

  #destination{
    position: absolute;
    bottom: 77dvw;
    left: 49.5dvw;
  }

  .y-scroller {
    display: flex;
    overflow: auto;
    flex: none;
    height: calc(24dvw * 5);  /*has to be odd for some reason*/
    flex-flow: column nowrap;
    scroll-snap-type: y mandatory;
    overscroll-behavior: default;
  }
  
  .y-scroller
  sd-endpoint {
    user-select: none;
    position: relative;
    scroll-snap-align: center;
    flex: none;
    width: 44dvw;
    height: 24dvw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3dvw;
    perspective: 50dvw;
  }

  .frame {
    width: 42dvw;
    height: 22dvw;
    border: 6px solid grey;
    position: absolute;
    z-index: 9999;
    pointer-events: none;
    border-radius: 3dvw;
  }
  
.username {
  width: 102dvw;
  height: 10dvw;
  transform: rotateZ(-90deg);
  font-size: 7dvw;
}

#username {
  position: absolute;
  left: -46dvw;
  top: 16dvw;
  z-index: 999;
}

  #source_frame {
    left: 2.5dvw;
    bottom: 76.5dvw;
  }

  #destination_frame {
    right: 1.5dvw;
    bottom: 76.5dvw;
  }

  #amount {
    position: absolute;
    top: 0dvw;
    right: 21dvw;
  }

  .amount {
    width: calc(100% - 54dvw);
    font-size: 12dvw;
    text-align: end;
  }

  sd-endpoint {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    -webkit-text-stroke: 0.15dvw white;
    -webkit-text-fill-color: black;
    line-height: 0.8;
    text-align: center;
    font-size: 8dvw;
  }
  
  sd-endpoint
  .image {
    font-size: 6dvw;
    text-align: center;
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: auto;
  }

  sd-endpoint
  .label {
    position: absolute;
    bottom: 2dvw;
    left: 5%;
    width: 90%;
  }

  sd-endpoint
  .text_input
  {
    position: absolute;
    top: 12dvw;
    left: 2dvw;
  }

  sd-endpoint
  .file_input {
    position: absolute;
    width: 100%;
    height: 100%;
    left:  0;
    top:  0;
    display:  block;
    opacity: 0;
    font-size: 3dvw;
  }

  sd-endpoint
  .show_label {
    position: absolute;
    right: 0;
    top: 0;
  }
  
  sd-endpoint
  .card {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
  }
  
  sd-endpoint
  .card_face {
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 5px;
    backface-visibility: hidden;
  }
  
  sd-endpoint
  .back {
    transform: rotateY( 180deg );
    background: white;
    border: 2px solid magenta;
  }

  sd-endpoint
  .card.flipped {
    transform: rotateY( 180deg ) ;
    transition: transform 1s;
  }
  
  sd-endpoint
  .button {
    text-align: center;
    font-size: 4dvw;
    width: calc(100% - 4dvw - 5px);
    height:  6dvw;
    border-radius: 3dvw;
    border:  2px solid black;
    margin: 3px;
  }

  sd-endpoint
  .file_button {
    position:  absolute;
    left: 2dvw;
    top: 2dvw;
  }

  #currency {
    position: absolute;
    top: 4dvw;
    right: 4dvw;
    font-size: 6dvw;
    width: calc(0.01em * 240);
    appearance: none;
    border: none;
    outline: none;
    background-color: transparent;
  }
  
  #amount_keypad {
    position: absolute;
    bottom: 9dvw;
    right: 0dvw;
  }
  
.keyX {
  border-radius: 50%;
  display: inline-grid;
  border: black;
  border-style: solid;
  width: calc(var(--radius) * 0.5);
  height: calc(var(--radius) * 0.5);
  text-align: center;
  align-content: center;
  margin: 2px;
  font-size: calc(var(--radius) * 0.25);
  background: white;
  vertical-align: bottom;
}

.amount_clear {
  -webkit-text-stroke: 1px;
  -webkit-text-fill-color: transparent;
}

.keypad_clear {
  font-size: calc(var(--radius) * 0.01 * 18);
  -webkit-text-stroke: 1px;
  -webkit-text-fill-color: transparent;
  border-radius: 30%;
}

form {
  margin: 0px;
  padding: 0px;
  display: inline;
}

sd-endpoint[endpoint="filler"] {
  opacity: 0.0;
}

.sendnow {
  width: 24dvw;
  height: 13dvw;
  font-size: 18dvw;
}

#sendnow {
  position: absolute;
  top: 25dvw;
  right: 3dvw;
}

a {
  text-decoration: none;
  color: black;
}

#converter {
  position: absolute;
  left: -39dvw;
  width: 88dvw;
  top: 70dvw;
  font-size: 7dvw;
  transform: rotateZ(-90deg);
}

.gear {
  width: 6dvw;
  height: 6dvw;
  font-size: 6dvw;
}

#gear {
  position: absolute;
  top: 1dvw;
  left: 1dvw;
  z-index: 9999;
}

/* A Hack where I reuse the human values of left and right directly from the input */
.left #amount_keypad {
  left: 0dvw;
}

.right #amount_keypad {
  right: 0dvw;
}

#panel {
  position: absolute;
  bottom: 2dvw;
  left: 0dvw;
}

.panel {
  width: 100%;
  height: 12dvw;
}

sd-keypad .key {
  position: absolute;
  border-radius: 40%;
  display: grid;
  border: 1px solid black;
  width: calc(2 * var(--radius));
  height: calc(2 * var(--radius));
  text-align: center;
  align-content: center;
  font-size: calc(132 * 0.01 * var(--radius));
  background: white;
}

sd-keypad[orientation="landscape"][handed="left"] {
  --start-row: 1;
}

sd-keypad
.role_1 {
  top: calc(0 * var(--grid-step));
  left: calc((0 + var(--start-row)) * var(--grid-step));
}
sd-keypad
.role_2 {
  top: calc(0 * var(--grid-step));
  left: calc((1 + var(--start-row)) * var(--grid-step));
}
sd-keypad
.role_3 {
  top: calc(0 * var(--grid-step));
  left: calc((2 + var(--start-row)) * var(--grid-step));
}
sd-keypad
.role_4 {
  top: calc(1 * var(--grid-step));
  left: calc((0 + var(--start-row)) * var(--grid-step));
}
sd-keypad
.role_5 {
  top: calc(1 * var(--grid-step));
  left: calc((1 + var(--start-row)) * var(--grid-step));
}
sd-keypad
.role_6 {
  top: calc(1 * var(--grid-step));
  left: calc((2 + var(--start-row)) * var(--grid-step));
}
sd-keypad
.role_7 {
  top: calc(2 * var(--grid-step));
  left: calc((0 + var(--start-row)) * var(--grid-step));
}
sd-keypad
.role_8 {
  top: calc(2 * var(--grid-step));
  left: calc((1 + var(--start-row)) * var(--grid-step));
}
sd-keypad
.role_9 {
  top: calc(2 * var(--grid-step));
  left: calc((2 + var(--start-row)) * var(--grid-step));
}
/* role_0 */
sd-keypad[orientation="portrait"]
.role_0 {
  top: calc(3 * var(--grid-step));
  left: calc(1 * var(--grid-step));
}
sd-keypad[orientation="landscape"][handed="left"]
.role_0 {
  top: calc(0 * var(--grid-step));
  left: calc(0 * var(--grid-step));
}
sd-keypad[orientation="landscape"][handed="right"]
.role_0 {
  top: calc(2 * var(--grid-step));
  left: calc(3 * var(--grid-step));
}

sd-keypad[orientation="portrait"][handed="right"]
.role_dot,.role_clear {
  top: calc(3 * var(--grid-step));
  left: calc(2 * var(--grid-step));
}
sd-keypad[orientation="portrait"][handed="left"]
.role_dot,.roll_clear {
  top: calc(3 * var(--grid-step));
  left: calc(0 * var(--grid-step));
}
sd-keypad[orientation="landscape"][handed="left"]
.role_dot,.role_clear {
  top: calc(1 * var(--grid-step));
  left: calc(0 * var(--grid-step));
}
sd-keypad[orientation="landscape"][handed="right"]
.role_dot,.role_clear {
  top: calc(1 * var(--grid-step));
  left: calc(3 * var(--grid-step));
}

sd-keypad
.role_clear {
  font-size: calc(var(--radius)* 1);
  -webkit-text-stroke: 1px;
  -webkit-text-fill-color: transparent;
}

sd-keypad[orientation="portrait"] {
  position: relative;
  width: calc(6 * var(--radius));
  height: calc(7.5 * var(--radius));
  border: 1px solid black;
  left: 65px;
  top: 84px;
}

sd-keypad[orientation="landscape"] {
  position: relative;
  width: calc(4 * var(--grid-step));
  height: calc(3 * var(--grid-step));
  left: calc((100% - (4 * var(--grid-step)))/2);
  top: 30dvw;
}

.display_none {
  display: none !important;
}

.disabled {
  opacity: 0.5 !important;
}


sd-price-display {
  position:relative;
  font-size: 14dvw;
}

sd-price-display
.pending {
  -webkit-text-stroke: 1px;
  -webkit-text-fill-color: transparent;
}

sd-price-display
.dollars {
  position:absolute;
  right: 16dvw;
  top: 0dvw;
}

sd-price-display
.dot {
  position:absolute;
  right: 13dvw;
  top: 0dvw;
}

sd-price-display
.dimes {
  position:absolute;
  right: 7dvw;
  top: 0dvw;
}

sd-price-display
.pennies {
  position:absolute;
  right: 0dvw;
  top: 0dvw;
}