body {
  font-family: cursive;
  background: pink;
  background-image: url('.images/pinkdior001.webp');
}

/* Make content area fill the entire browser window */
html,
.fullscreen {
  display: flex;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

/* Center the content in the browser window */
.container {
  margin: auto;
  text-align: center;
}

.title {
  font-size: 3rem;
}

.selected {
  padding: 2px;
  background: blue;
}

.endpoint {
  width: 200px;
  height: 120px;
}

.button {
  display: inline; 
}

.currency-box {
  display: flex;
}

.currency {
  display: inline;
  margin: 5px;
}

.vendor {
  display: inline;
}

#send-email {
  display: none;
}
